body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
  }
  #menu{
    margin: 0;
    margin-top: 0px;
    background: #f1f1f1;
    padding: 15px;
    border-style: solid
    font-size: 20px;
    border-bottom-color: kolor
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: none;
    position: relathiive;
    color: #313131;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;
    text-transform: uppercase;
    border-style: solid
    border-bottom-color: #e74c3c;
  }

  body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 650px;
    background: rgba(163, 163, 163, 0.4);
    padding: 60px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-width: 4px;
    border-style: solid;
    border-color: white;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 100;
    padding: 20px;
  }
  .box p{
    text-align: justify;
    text-align: center
    padding: 10px;
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  
  }
  .container{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%,-50%);
  }
  .contact-method{
    width: 220px;
    height: 140px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    margin: 110px;
    color: #fff;
    position: relative;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center
  }
  .contact-method i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 140px;
    background: #e3e3e3;
    z-index: 1;
    transition: transform 0.6s;
  }
  .contact-method span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0;
  }
  
  .contact-method:hover i{
    transform: translateY(-40px);
  }
  
  .section {
    display: flex;
    align-items: center
  }

  *{
    margin: 0;
    padding: 0;
    font-family: "open sans",sans-serif;
  }
  .about-section{
    width: 100%;
    background: #f1f1f1;
    padding: 40px 0;
  }
  .inner-width{
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
  }
  .about-section h1{
    text-align: center;
  }
  .border{
    width: 100px;
    height: 3px;
    background: #e74c3c;
    margin: 40px auto;
  }
  .about-section-row{
    display: flex;
    flex-wrap: wrap;
  }
  .about-section-col{
    flex: 50%;
  }
  .about{
    padding-right: 30px;
  }
  .about p{
    text-align: justify;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .about a{
    display: inline-block;
    color: #e74c3c;
    text-decoration: none;
    border: 2px solid #e74c3c;
    border-radius: 24px;
    padding: 8px 40px;
    transition: 0.4s linear;
  }
  .about a:hover{
    color: #fff;
    background: #e74c3c;
  }
  .progress-bar span{
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
  }
  @media screen and (max-width:700px) {
    .about-section-col{
      flex: 100%;
      margin: 10px 0;
    }
    .about,.skills{
      padding: 0;
    }
    .about{
      text-align: center;
    }

  }
  .border{
    width: 100px;
    height: 3px;
    background: #e74c3c;
    margin: 40px auto;
  }

  .copyright{
    text-align: justify;
    opacity:0,5;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-family: "open sans",sans-serif;
  }

  .s-m{
    text-align: center;
    margin-top: 20px;
  }
